<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="top.xuqingquan.web">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--适配Android 11 软件包可见性更新，方便通过web唤起应用-->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application>
        <!-- AgentWeb申请权限用到这个类 -->
        <activity
            android:name=".nokernel.ActionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@style/scaffold_actionActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
    </application>
</manifest>